[project]
name = "example"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "behave>=1.3.3",
    "parse>=1.20.2",
    "parse-type>=0.6.6",
]
